.form {
  display: flex;
  border-top: 2px solid #d3d3d3;
}

.input {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 85%;
  font-size: 1.2em;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  background-color: transparent;
  text-transform: uppercase;
  text-decoration: none;
  /* background: #059b0d; */
  border-radius: 50%;
  cursor: pointer;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 15%;
}
.image1 {
  width: 25px;
}
