html,
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.joinOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-color: #1a1a1d;
}

.joinInnerContainer {
  width: 20%;
}

.joinInput {
  border-radius: 0;
  padding: 15px 20px;
  width: 100%;
}

.heading {
  color: rgb(187, 118, 216);

  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}
.logoutt {
  color: white;
  position: relative;
  top: 44%;
  left: 32%;
  background-color: transparent;
  cursor: pointer;
  /* border: 1px solid white; */
  border: none;

  padding: 5px;
}

.logoutt1 {
  color: white;
  position: relative;
  top: 44%;
  left: 32%;
  background-color: transparent;
  cursor: pointer;
  /* border: 1px solid white; */
  border: none;

  padding: 5px;
}
.logoutt i {
  padding: 5px;
}
.logoutt:hover {
  border: 1px solid white;
  background-color: darkviolet;
  transition: 0.9s;
}
.button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: darkviolet;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 100%;
  cursor: pointer;
}
.button:hover {
  background-color: #1a1a1d;
  color: white;
  transition: 1.5s;
  border: 1px solid white;
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100%;
  }

  .joinInnerContainer {
    width: 90%;
  }
}

button:focus {
  outline: 0;
}
